@font-face{
    font-family: luckiest;
    src: url("../src/components/fonts/LuckiestGuy-Regular.ttf");
}

@import "tailwindcss";


@theme{
    --color-verdeAgua: #32C49B;
    --color-button: #2E7E68;
    --color-defaultGray: #373737;
    --font-luckiest: luckiest, "sans-serif";
    --breakpoint-3xl: 1750px;
    --breakpoint-4xl: 1880px;
    --breakpoint-ms: 450px;
    --background-color-products: rgba(255,255,255,0.1);
    --max-height:940px,

    keyframes: {
        shimmer: {
        '0%': { backgroundPosition: '-200% 0' }
        '100%': { backgroundPosition: '200% 0' }
        }
    }
    animation: {
    shimmer: 'shimmer 0.2s infinite linear'
    }
}